<h2 data-test="header">{{ stepData.label }}</h2>

<form [formGroup]="formGroup">
  <ng-container *ngFor="let field of stepData.fields">
    <ng-container *ngIf="field.type === 'text'">
      <mat-form-field class="mat-form-field">
        <mat-label>{{ field.label }}</mat-label>
        <input
          [attr.data-cy]="'input-' + field.id"
          matInput
          [formControlName]="field.id"
        />
        <mat-error
          [attr.data-cy]="'error-message-' + field.id"
          data-test="input-error"
          *ngIf="!formGroup.get(field.id)?.valid"
        >
          {{ field.errorMessage }}
        </mat-error>
      </mat-form-field>
    </ng-container>

    <ng-container *ngIf="field.type === 'select'">
      <mat-form-field class="mat-form-field">
        <mat-label>{{ field.label }}</mat-label>
        <select
          [attr.data-cy]="'select-' + field.id"
          matNativeControl
          [formControlName]="field.id"
        >
          <option *ngFor="let option of field.options" [value]="option.value">
            {{ option.label }}
          </option>
        </select>
        <mat-error
          data-test="select-error"
          *ngIf="!formGroup.get(field.id)?.valid"
        >
          {{ field.errorMessage }}
        </mat-error>
      </mat-form-field>
    </ng-container>

    <ng-container *ngIf="field.type === 'boolean'">
      <mat-label>{{ field.label }}</mat-label>
      <mat-radio-group [formControlName]="field.id">
        <mat-radio-button
          [attr.data-cy]="'radio-' + field.id + '-yes'"
          [value]="true"
          >yes</mat-radio-button
        >
        <mat-radio-button
          [attr.data-cy]="'radio-' + field.id + '-no'"
          [value]="false"
          >no</mat-radio-button
        >
      </mat-radio-group>
    </ng-container>
  </ng-container>
</form>

<div class="buttons">
  <button
    [attr.data-cy]="'prev-button-' + stepData.key"
    data-test="prev-button"
    [hidden]="stepData.type === 'first'"
    mat-button
    color="primary"
    (click)="clickPrev()"
  >
    prev
  </button>

  <button
    [attr.data-cy]="'next-button-' + stepData.key"
    data-test="next-button"
    [hidden]="stepData.type === 'last'"
    [disabled]="!formGroup.valid"
    mat-raised-button
    color="accent"
    (click)="clickNext()"
  >
    next
  </button>
</div>

<button
  data-test="submit-button"
  data-cy="submit-button"
  class="submit-button"
  [disabled]="!formGroup.valid"
  mat-flat-button
  color="primary"
  [hidden]="stepData.type !== 'last'"
  (click)="clickSubmit()"
>
  submit
</button>
